*.egg-info
__pycache__
.vscode
dist/*
examples/notebooks/logs/*

# Data/Models
data/*
examples/data/*
singularity/*
*.sqlite3
*.h5ad
*.h5
*.torch
*.keras
*.pt
*.npz
*.arrow
*zip
*.npy
*.json
*.pickle
*.pkl
*.bin
*.dataset
*.ipynb_checkpoints
results*

# Log
debug.log
*debug.log

# Mac Files
*.DS_Store

/docs/conf.py
/docs/_build
/docs/_autosummary/
_build
_static
/docs/source

# From unit tests
ci/tests/test_output

# mkdocs
site

# Keep unit tests data
!ci/tests/data/*

# Hydra
outputs

# Vortex repo
vortex