--extra-index-url https://pypi.nvidia.com
# rapids-singlecell[rapids12]
https://github.com/state-spaces/mamba/releases/download/v2.2.4/mamba_ssm-2.2.4+cu12torch2.7cxx11abiFALSE-cp311-cp311-linux_x86_64.whl
https://github.com/Dao-AILab/causal-conv1d/releases/download/v1.5.0.post8/causal_conv1d-1.5.0.post8+cu12torch2.7cxx11abiFALSE-cp311-cp311-linux_x86_64.whl
https://github.com/Dao-AILab/flash-attention/releases/download/v2.7.4.post1/flash_attn-2.7.4.post1+cu12torch2.7cxx11abiFALSE-cp311-cp311-linux_x86_64.whl

