neural_network:
  loss: "categorical_crossentropy"
  learning_rate: 0.001
  epochs: 10
  batch_size: 32

svm:
  kernel: "rbf"
  degree: 3
  C: 1
  decision_function_shape: 'ovr'

data:
    pbmc:
      base_dir: "benchmark"
      batch_key: "batch"
      label_key: "labels"
      path: "./10k_pbmcs_proc.h5ad"
      gene_names: "index"
      name: "10k_pbmcs_proc"


integration: 
    scib:
      isolated_labels_asw_: False
      silhouette_: True
      hvg_score_: False
      graph_conn_: True
      pcr_: True
      isolated_labels_f1_: False
      trajectory_: False
      nmi_: True  # use the clustering bias to the best matching
      ari_: True  # use the clustering bias to the best matching
      cell_cycle_: False
      kBET_: False  # kBET return nan sometimes need to examine
      ilisi_: False
      clisi_: False
    alcs: True

device: ???