name: CI Pipeline

on:
  pull_request:
    branches:
      - main
      - release

jobs:
  build:
  
    runs-on: self-hosted
    timeout-minutes: 60 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11.8

      - name: Install dependencies
        run: |
            pip install -r requirements-dev.txt
            pip install .
            
      # First download before tests as they make use of the downloaded files 
      - name: Download all files
        run: |
          python ci/download_all.py

      - name: Execute unittests
        run: |
          pytest --cov-report=html:html_cov --cov-branch --cov-report term --cov=helical ci/
      
      - name: Upload coverage report
        uses: actions/upload-artifact@v2
        with:
          name: coverage-report
          path: html_cov/

      # Does not seem to work but would be nice to have
      # - name: Pytest coverage comment
      #   uses: MishaKav/pytest-coverage-comment@main
      #   with:
      #     pytest-coverage-path: ./pytest-coverage.txt
      #     junitxml-path: ./pytest.xml

      - name: Execute Geneformer
        run: |
          python examples/run_models/run_geneformer.py

      - name: Execute scGPT
        run: |
          python examples/run_models/run_scgpt.py

      - name: Execute UCE
        run: |
          python examples/run_models/run_uce.py

      - name: Execute Hyena
        run: |
          python examples/run_models/run_hyena_dna.py
