name: CI Pipeline

on:
  pull_request:
    branches:
      - main

jobs:
  build:
  
    runs-on: ubuntu-latest
    timeout-minutes: 60 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11 #install the python needed
      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install -r requirements-dev.txt
            pip install .
            
      # First download before tests as they make use of the downloaded files 
      # - name: Download all files
      #   run: |
      #     python ci/download_all.py
      - name: Execute unittests
        run: |
          pytest --junitxml=pytest.xml --cov=helical ci/ | tee pytest-coverage.txt
      - name: Pytest coverage comment
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml
      # - name: Execute scGPT
      #   run: |
      #     python examples/run_scgpt.py
      # - name: Execute Geneformer
      #   run: |
      #     python examples/run_geneformer.py
      # - name: Execute UCE
      #   run: |
      #     python examples/run_uce.py
      # - name: Execute Hyena
      #   run: |
      #     python examples/run_hyena_dna.py